$primary-color:green;

h1 {
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

header {
    nav {
        background-color: bisque;
    }
}